{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="container-text">
        <form method="post">
            <table style="width: 100%; margin: 10px 0;">
                {{ add_user.hidden_tag() }}
                {% for field in add_user %}
                    {% if field.type != "CSRFTokenField" %}
                    <tr>
                        <td style="width: 30%;">{{field.label.text}}</td>
                        <td style="width: 70%;">{{field(autocomplete="off")}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>  
        </form>
    </div>
</div>

{% endblock %}