{% extends "base.html" %}
{% block content %}

<style>
    th {
        font-weight: bold;
    }
    
    table, th, td, tr {
        border: 1px solid black;
        border-collapse: collapse;
      }
    
    table {
        width: 100%;
    }
    
    th, td {
        width: 20%;
        text-align: center;
    }
    
    tr:nth-child(even) {
        background-color: #def9fc;
    }
</style>

<div class="container">
    <div class="container-text">
        <h2>Other students in your flat:</h2>
        <table>

            <tr>
                <th>Name</th>
                <th>Course</th>
                <th>Instagram</th>
                <th>Snapchat</th>
                <th>Room Number</th>
            </tr>

            {% for user in same_flat %}
                <tr>
                    <td>{{user["name"]}}</td>
                    <td>{{user["course"]}}</td>
                    <td>{{user["ig"]}}</td>
                    <td>{{user["sc"]}}</td>
                    <td>{{user["block"]}}{{user["flat"]}}{{user["room"]}}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
</div>

<div class="container">
    <div class="container-text">
        <h2>Other students in your block:</h2>
        <table>

            <tr>
                <th>Name</th>
                <th>Course</th>
                <th>Instagram</th>
                <th>Snapchat</th>
                <th>Room Number</th>
            </tr>

            {% for user in same_block %}
                <tr>
                    <td>{{user["name"]}}</td>
                    <td>{{user["course"]}}</td>
                    <td>{{user["ig"]}}</td>
                    <td>{{user["sc"]}}</td>
                    <td>{{user["block"]}}{{user["flat"]}}{{user["room"]}}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
</div>

{% endblock %}